body {
 background-color: beige;
 border-top:160px solid aqua;
 border-bottom:160px solid aqua;
 border-left:250px solid aqua;
 border-right:250px solid aqua;
 text-align: center;
 font-size: 20px;
border-radius: 50px;
}
